.toDo_header {
    padding: 19px 40px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    color: #FFFFFF;
}

.toDo_name {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
}

.timer_block {
    padding: 55px 0 107px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    display: flex;
    position: relative;
}

.interval {
    font-size: 150px;
    line-height: 179px;
    font-weight: 200;
    color: #333333;
    padding-right: 25px;
}

.add_interval_inc {
    position: absolute;
    top: 40%;
    right: -50px;
}

.add_interval_dec {
    position: absolute;
    top: 40%;
    left: -60px;
    background-color: #C4C4C4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-bottom: 7px;
}

.btn_dec {
    height: 2px;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    width: 16px;
    text-align: center;
}

.toDo_info {
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 32px;
}

.toDo_span {
    color: #999999;
}

.btn_wrapper {
    display: flex;
}

.btn_start {
    padding: 17px 48px;
    background-color: #A8B64F;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 25px;
}

.btn_start:hover {
    background-color: #899441;
}

.btn_stop {
    padding: 17px 48px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    color: #C4C4C4;
    border: 2px solid #C4C4C4;
}

.btn_active {
    outline: 1px solid #DC3E22;
    color: #DC3E22;
}

.btn_active:hover {
    outline: none;
    background-color: #DC3E22;
    color: #FFFFFF;
}