.container {
    max-width: 508px;
    margin-bottom: 25px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: #333333;
}

.list {}

.item {
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    color: #333333;
    position: relative;
    padding-left: 15px;
}

.item::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color:  #B7280F;
    transform: translateY(-50%);
}