.item {
    padding: 15px 0;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    width: 370px;
    margin-bottom: -1px;
    display: flex;
    justify-content: space-between;
}

.item_block {
    display: flex;
    align-items: center;
}

.index {
    margin-right: 10px;
    padding: 4px 9px;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    color: #333333;
}

.title {
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    color: #333333;
}

.btn {
    display: flex;
    align-items: center;
}