.btn_add {
    display: block;
    padding: 15px 50px;
    background-color: #A8B64F;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 25px;
}

.input {
    display: block;
    padding: 19px 15px;
    background-color: #F4F4F4;
    font-size: 16px;
    line-height: 17px;
    font-weight: 300;
    width: 370px;
    margin-bottom: 25px;
}

.input::placeholder {
    color: #999999;
}

.list {
    margin-bottom: 19px;
}

.total_time {
    color: #999999;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
}